<mat-toolbar>
  <span>My Application</span>
</mat-toolbar>

<main>
  <mat-card>
    <form>
      <mat-form-field style="display: block;">
        <mat-label>Title</mat-label>
        <input matInput placeholder="google">
      </mat-form-field>
      <h4>Basic mat-select</h4>
      <mat-form-field style="display: block;" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <mat-select #albumId>
          <mat-option *ngFor="let albumId of albumIds" [value]="albumId">
            {{albumId}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="display: block;">
        <mat-label>url</mat-label>
        <input matInput  placeholder="https://www.google.com" #url>
      </mat-form-field>
      <button mat-button color="primary"style="display: block;" >Primary</button>

    </form>

  </mat-card>
  <app-photos></app-photos>
</main>